* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  background: #FFFFFF;
  -web-font-smoothing: antialiased;
}

.spinner {
  display: flex;
  z-index: 15;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}